@import 'mixins';

@include reset(); // Сброс стилей

@import 'mixingrid';

// Переменные для кастомизации Mixingrid
$columns: 12; // Колличество колонок
$max-width: 1030px; // Максимальная ширина контейнера
$gutter: 30px; // Расстояние между колонками
$offset: 30px; // Поля контейнера
$offset-sm: 15px; // Поля контейнера на мобилке
// Брэйкпоинты
$break_xl: 1440px;
$break_lg: 1200px;
$break_md: 1050px;
$break_sm: 769px;
$break_xs: 500px;

// Шрифты
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC", normal, normal);
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC-Italic", normal, italic);
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC-Bold", bold, normal);

@include font-face("FuturaBookС", "../fonts/FuturaBookС/futurabookc", normal, normal);
@include font-face("FuturaС", "../fonts/FuturaС/futurabookc-italic", normal, italic);


// Переменные цвета
$mainColor: #58ab5c;
$mainLightColor: #6ec172;
$secondColor: #1376d3;
$secondLightColor: #3093f0;
$thirdColor: #bd7019;
$thirdLightColor: #d3862f;
$bodyColor: #1b1c23;
$backColor: #13141d;
$elementColor: #282936;
$elementHightlight: #313346;
$iconColor: #8c8e9c;
$fontColor: #fff;
$fontDarkColor: #4d4e55;

// Переменные шрифты
$firstFont: "FuturaС",
sans-serif;
$secondFont: "FuturaFuturisC",
sans-serif;

// Подключение файлов
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/user';
@import 'blocks/head';
@import 'blocks/statistics';
@import 'blocks/gameList';
@import 'blocks/chat';
// @import 'blocks/modal';
// @import 'blocks/tooltipster-noir';

/* settings */
html {
 height: 100%; 
  &.lock {
    overflow: hidden;
  }
}
a {
  transition: .3s;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: $firstFont;
  font-size: 14px;
}
body {
  height: 100%;
  background-color: $bodyColor;
  font-family: $firstFont;
  font-size: 14px;
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
  @media (max-width: $break_xl) {
    max-width: 834px;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex-grow: 1;
}
.title {
  font-family: $secondFont;
  font-size: 24px;
  text-transform: uppercase;
}
.subtitle {
  font-family: $firstFont;
  font-size: 20px;
}
.subtitleB {
  font-family: $secondFont;
  font-size: 16px;
}
.btn {
  padding: 15px 20px;
  font-family: $secondFont;
  font-size: 14px;
  color: $fontColor;
  &--first {
    background-color: $mainColor;
    &:hover {
      background-color: $mainLightColor;
    }
  }
  @media (max-width: $break_xl) {
    font-size: 10px;
  }
}
/* /settings */

/* pageNav */
.pageNav {
  padding: 50px 0;
  font-size: 20px;
  li {
    
  }
  a {
    color: $fontColor;
  }
}
svg {
  max-width: 100%;
  max-height: 100%;
}
/* /pageNav */