@import 'mixins';

@include reset(); // Сброс стилей

@import 'mixingrid';

// Переменные для кастомизации Mixingrid
$columns: 12; // Колличество колонок
$max-width: 1030px; // Максимальная ширина контейнера
$gutter: 30px; // Расстояние между колонками
$offset: 30px; // Поля контейнера
$offset-sm: 15px; // Поля контейнера на мобилке
// Брэйкпоинты
$break_xl: 1440px;
$break_lg: 1200px;
$break_md: 1050px;
$break_sm: 769px;
$break_xs: 500px;

// Шрифты
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC", normal, normal);
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC-Italic", normal, italic);
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC-Bold", bold, normal);

@include font-face("FuturaBookС", "../fonts/FuturaBookС/futurabookc", normal, normal);
@include font-face("FuturaС", "../fonts/FuturaС/futurabookc-italic", normal, italic);


// Переменные цвета
$mainColor: #58ab5c;
$mainLightColor: #6ec172;
$secondColor: #1376d3;
$secondLightColor: #3093f0;
$thirdColor: #bd7019;
$thirdLightColor: #d3862f;
$bodyColor: #1b1c23;
$backColor: #13141d;
$elementColor: #282936;
$elementHightlight: #313346;
$iconColor: #8c8e9c;
$fontColor: #fff;
$fontDarkColor: #818186;

// Переменные шрифты
$firstFont: "FuturaС",
sans-serif;
$secondFont: "FuturaFuturisC",
sans-serif;

// Подключение файлов
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/user';
@import 'blocks/head';
@import 'blocks/statistics';
@import 'blocks/gameList';
@import 'blocks/chat';
@import 'blocks/userIconMob';
@import 'blocks/headStatisticsMob';
@import 'blocks/persona';
@import 'blocks/personaItems';
@import 'blocks/modal';
@import 'blocks/balance';
@import 'blocks/win';
@import 'blocks/confirm';
@import 'blocks/tabs';
@import 'blocks/guide';
@import 'blocks/rating';
@import 'blocks/settings';
// @import 'blocks/tooltipster-noir';

/* settings */
html {
 height: 100%; 
  &.lock {
    overflow: hidden;
  }
}
a {
  transition: .3s;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: $firstFont;
  font-size: 14px;
}
body {
  min-width: 319px;
  height: 100%;
  background-color: $bodyColor;
  font-family: $firstFont;
  font-size: 14px;
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.md-hide {
  @media (max-width: $break_md) {
    display: none;
  }
}
.md-visible {
  @media (min-width: $break_md + 1) {
    display: none;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
  @media (max-width: $break_xl) {
    max-width: 834px;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex-grow: 1;
}
.title {
  font-family: $secondFont;
  font-size: 24px;
  text-transform: uppercase;
  color: $fontColor;
  @media (max-width: $break_xl) {
    font-size: 18px;
  }
}
.subtitle {
  font-family: $firstFont;
  font-size: 20px;
  color: $fontColor;
}
.subtitleB {
  font-family: $secondFont;
  font-size: 16px;
  color: $fontColor;
}
.btn {
  display: block;
  padding: 15px 20px;
  font-family: $secondFont;
  font-size: 14px;
  color: $fontColor;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: 0.3s;
  user-select: none;
  &--first {
    background-color: $mainColor;
    &:hover {
      background-color: $mainLightColor;
    }
  }
  &--second {
    background-color: $secondColor;
    &:hover {
      background-color: $secondLightColor;
    }
  }
  &--gray {
    background-color: $elementColor;
    &:hover {
      background-color: $mainColor;
    }
  }
  &--third {
    background-color: $elementColor;
      &:hover {
        background-color: $thirdColor;
      }
  }
  &:disabled {
    background-color: $elementColor;
    cursor: default;
    &:hover {
      background-color: $elementColor;
    }
  }
  &__checked {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 23px;
      height: 23px;
      margin-right: 5px;
      fill: $mainColor;
      flex-shrink: 0;
    }
  }
  @media (max-width: $break_xl) {
    padding: 12px 20px;
    font-size: 12px;
  }
  &__checked {
    svg {
      width: 12px;
      height: 12px;
    }
  }
}
.scrollbar-inner>.scroll-element.scroll-y {
  width: 4px;
}

.scrollbar-inner>.scroll-element .scroll-element_outer,
.scrollbar-inner>.scroll-element .scroll-element_track,
.scrollbar-inner>.scroll-element .scroll-bar {
  border-radius: 0;
  opacity: 1;
}

.scrollbar-inner>.scroll-element .scroll-element_track {
  background-color: #2a2b34;
}

.scrollbar-inner>.scroll-element .scroll-bar {
  background-color: $mainColor;
}
.scrollbar-inner>.scroll-element:hover .scroll-bar {
  background-color: $mainLightColor;
}
.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar {
  background-color: $mainLightColor;
}
svg {
  max-width: 100%;
  max-height: 100%;
}
input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #23242e;
  border: none;
  font-family: $firstFont;
  font-size: 16px;
  color: $fontDarkColor;
  @media (max-width: $break_xl) {
    padding: 0 17px;
    font-size: 12px;
  }
}
.ui-slider-range {
  background-color: $mainColor;
}
.ui-slider-horizontal {
  height: 4px;
}
.js_slider {
  border: none !important;
  background-color: #323347;
  cursor: pointer;
    .ui-slider-handle {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      top: -3px;
      margin-left: -5px;
      &.ui-state-focus {
        border: none;
        outline: none;
        background-color: #fff;
      }
    }
  &--noHandle {
    .ui-slider-handle {
      display: none;
    }
  }
}
/* /settings */

/* pageNav */
.pageNav {
  padding: 50px 0;
  font-size: 20px;
  .title {
    margin-bottom: 20px;
  }
  &__list {
    li {
      margin: 5px 0;
    }
    a {
      color: $fontColor;
    }
  }
}
/* /pageNav */