@import 'mixins';

@include reset(); // Сброс стилей

@import 'mixingrid';

// Переменные для кастомизации Mixingrid
$columns: 12; // Колличество колонок
$max-width: 1030px; // Максимальная ширина контейнера
$gutter: 30px; // Расстояние между колонками
$offset: 30px; // Поля контейнера
$offset-sm: 15px; // Поля контейнера на мобилке
// Брэйкпоинты
$break_xl: 1440px;
$break_lg: 1200px;
$break_md: 1050px;
$break_sm: 820px;
$break_xs: 395px;

// Шрифты
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC", normal, normal);
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC-Italic", normal, italic);
@include font-face("FuturaFuturisC", "../fonts/FuturaFuturisC/FuturaFuturisC-Bold", bold, normal);

@include font-face("FuturaBookС", "../fonts/FuturaBookС/futurabookc", normal, normal);
@include font-face("FuturaС", "../fonts/FuturaС/futurabookc-italic", normal, italic);


// Переменные цвета
$mainColor: #58ab5c;
$mainLightColor: #6ec172;
$secondColor: #1376d3;
$secondLightColor: #3093f0;
$thirdColor: #bd7019;
$thirdLightColor: #d3862f;
$bodyColor: #1b1c23;
$backColor: #13141d;
$elementColor: #282936;
$elementHightlight: #313346;
$iconColor: #8c8e9c;
$fontColor: #fff;
$fontDarkColor: #818186;

// Переменные шрифты
$firstFont: "FuturaС",
sans-serif;
$secondFont: "FuturaFuturisC",
sans-serif;

// Подключение файлов
@import 'blocks/settings_site';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/user';
@import 'blocks/head';
@import 'blocks/statistics';
@import 'blocks/gameList';
@import 'blocks/chat';
@import 'blocks/userIconMob';
@import 'blocks/headStatisticsMob';
@import 'blocks/persona';
@import 'blocks/personaItems';
@import 'blocks/modal';
@import 'blocks/balance';
@import 'blocks/win';
@import 'blocks/confirm';
@import 'blocks/tabs';
@import 'blocks/guide';
@import 'blocks/settings';
@import 'blocks/search';
@import 'blocks/form2fa';
@import 'blocks/creategame';
@import 'blocks/fieldStats';
@import 'blocks/fieldsettings';
@import 'blocks/fieldwrapper';
@import 'blocks/field';
@import 'blocks/sidebar';
@import 'blocks/popup';
@import 'blocks/deal';
@import 'blocks/orientation';

.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.md-hide {
  @media (max-width: $break_md) {
    display: none;
  }
}
.md-visible {
  @media (min-width: $break_md + 1) {
    display: none;
  }
}

/* pageNav */
.pageNav {
  padding: 50px 0;
  font-size: 20px;
  .title {
    margin-bottom: 20px;
  }
  &__list {
    li {
      margin: 5px 0;
    }
    a {
      color: $fontColor;
    }
  }
}
/* /pageNav */