// header
header.header.mobile-hide#header
	.wrapper
		.header__row

			.header__col
				// logo
				a(href="#").logo
					img(src="img/logo.png", alt="")
				// /logo

				// fieldStats
				ul.fieldStats
					li.fieldStats__item
						span Время в игре:
						span.fieldStats__dark 00:23:43
					li.fieldStats__item
						span Ход:
						span.fieldStats__dark 124
					li.fieldStats__item
						span Ставка:
						span.fieldStats__dark Нет
					li.fieldStats__item
						span Зрителей:
						span.fieldStats__dark 24
				//	/fieldStats

				//- // userIconMob
				//- a(href="#").userIconMob.md-visible
				//- 	img(src="img/user_1.jpg", alt="")
				//- //	/userIconMob

			//- .header__col.mobile-visible
			//- 	img(src="img/slogan_mob.png", alt="")

			//- .header__col
				//- // menu
				//- //- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
				//- #menu.menu.menu--right
				//- 	#menu-btn.menu__btn
				//- 		.menu__btnInner
				//- 	nav.menu__nav
				//- 		ul.menu__list
				//- 			li
				//- 				a(href="#") Обучающая игра
				//- 			li
				//- 				a(href="#") Данные
				//- 			li
				//- 				a(href="#") Рейтинг
				//- 			li
				//- 				a(href="#") Баланс

				//- 		// user
				//- 		.user.md-visible
				//- 			a(href="#").user__icon
				//- 				img(src="img/chat_icon.svg", alt="")
				//- 			a(href="#").user__icon
				//- 				img(src="img/gear_icon.svg", alt="")
				//- 			a(href="#").user__lk
				//- 				img(src="img/user_1.jpg", alt="")
				//- 				span Личный кабинет
				//- 		//	/user

				//- 		// lang
				//- 		a(href="#").lang.md-visible
				//- 			span.active RU
				//- 			span.lang__slash /
				//- 			span EN
				//- 		//	/lang

				//- 		#menu-close.menu__close
				//- 	#menu-over.menu__over
				//- // /menu

			.header__col

				// fieldSettings
				.fieldSettings
					.fieldSettings__col
						.fieldSettings__sound
							img(src="img/sound_icon.svg", alt="")
						.fieldSettings__estate
							.fieldSettings__estateRow
								.fieldSettings__estateCol
									.fieldSettings__hotel
										img(src="img/hotel_icon.svg", alt="")
									span 32
								.fieldSettings__estateCol
									.fieldSettings__house
										img(src="img/house_icon.svg", alt="")
									span 12
					.fieldSettings__col
						a(href="#").fieldSettings__btn
							img(src="img/gear_icon.svg", alt="")
							span Настройки
				//	/fieldSettings
				
				//- // user
				//- .user
				//- 	a(href="#").user__icon
				//- 		img(src="img/chat_icon.svg", alt="")
				//- 	a(href="#").user__icon
				//- 		img(src="img/gear_icon.svg", alt="")
				//- 	a(href="#").user__lk
				//- 		img(src="img/user_1.jpg", alt="")
				//- 		span Личный кабинет
				//- //	/user

				//- // lang
				//- a(href="#").lang
				//- 	span.active RU
				//- 	span.lang__slash /
				//- 	span EN
				//- //	/lang

// /header