extends blocks/base.jade

block title 
	title Восстановление пароля

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")

block content

	.page

		include blocks/header.jade
		
		.content

			// modal
			form(action="").modal
				.modal__container
					.modal__head
						.title Восстановление пароля
						.modal__close
					.modal__body

						.modal__row
							.modal__text Введите Ваш E-mail. После нажатия кнопки "Отправить" на указанный электронный адрес будет отправлено письмо со ссылкой на смену пароля

						.modal__row
							.modal__hint Введите e-mail
							.modal__input.modal__input--white
								input(type="text")
								
						.modal__row.modal__row--center
								button(type="submit").btn.btn--second Отправить
			//	/modal
			
		//- include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")