extends blocks/base.jade

block title 
	title Настройки

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	link(rel="stylesheet", href="css/libs/jquery-ui.min.css")

block content

	.page

		include blocks/header.jade
		
		.content

			// modal
			form(action="#").modal
				.modal__container.modal__container--w700
					.modal__head
						.title Настройки
						.modal__close
					.modal__body
						// settings
						.settings
							.settings__row
								.settings__col
									.settings__text Звуки
									// JQuery UI Slider
									.js_slider(data-value="30")
									input(type="text", name="")
									// /JQuery UI Slider
								.settings__col
									.settings__text Музыка
									// JQuery UI Slider
									.js_slider.js_slider--noHandle(data-value="60")
									input(type="text", name="")
									// /JQuery UI Slider
								.settings__col.settings__col--switch
									.settings__text Музыка в игре
									.js_switcher.settings__switcher
										#switch.settings__switch.on
										#switch_text.settings__textStatus Вкл
										input(type="checkbox", name="" checked)
							.settings__btn
								button(type="checked").btn.btn--second Настроить 2FA
						//	/settings
			//	/modal
			
		//- include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")
	script(src="js/libs/jquery-ui.min.js")