.field {
  height: 100%;
  padding: 25px;
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  &__grid {
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(13, 1fr);
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
  }
  &__gorizontalTop {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-row: 1 / 3;
    grid-column:1 / 14;
    .field__item {
      grid-row: 1 / 3;
      &:first-child {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
      }
      &:last-child {
        grid-row: 1 / 3;
        grid-column: 12 / 14;
      }
    }
  }
  &__verticalLeft {
    display: grid;
    grid-row: 3 / 12;
    grid-column:1 / 3;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, 1fr);
    .field__item {
      grid-column: 1 / 3;
    }
    .field__title {
      padding: 0 5%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
    .field__icons {
      writing-mode: vertical-lr;
      top: 50%;
      left: 22%;
      transform: translate(0,-50%);
    }
    .field__icon {
      margin: 3px 0;
      &:first-child {
        order: 2;
      }
      svg {
        transform: rotate(-90deg);
      }
    }
    .field__img {
      top: 50%;
      left: 58%;
    }
    .field__name {
      top: 0;
      right: 5%;
      left: auto;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }
  &__gorizontalBottom {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-row: 12 / 14;
    grid-column:1 / 14;
    .field__item {
      grid-row: 1 / 3;
      &:first-child {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
      }
      &:last-child {
        grid-row: 1 / 3;
        grid-column: 12 / 14;
      }
    }
    .field__title {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    .field__icons {
      top: auto;
      bottom: 22%;
    }
    .field__img {
      top: auto;
      bottom: 58%;
      transform: translate(-50%,50%);
    }
    .field__name {
      top: 5%;
      bottom: auto;
      &--bottom {
        top: auto;
        bottom: 20%;
      }
    }
  }
  &__verticalRight {
    display: grid;
    grid-row: 3 / 12;
    grid-column:12 / 14;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, 1fr);
    .field__item {
      grid-column: 1 / 3;
    }
    .field__title {
      padding: 0 5%;
      writing-mode: vertical-rl;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
    .field__icons {
      writing-mode: vertical-rl;
      top: 50%;
      right: 22%;
      transform: translate(0,-50%);
    }
    .field__icon {
      margin: 3px 0;
      svg {
        transform: rotate(90deg);
      }
    }
    .field__img {
      left: auto;
      right: 58%;
      top: 50%;
      transform: translate(50%,-50%);
    }
    .field__name {
      writing-mode: vertical-rl;
      top: 0;
      right: auto;
      left: 5%;
    }
  }
  &__item {
    padding: 1px;
  }
  &__center {
    grid-row: 3 / 12;
    grid-column: 3 / 12;
    background-color: #14151f;
  }
  &__container {
    width: 100%;
    height: 100%;
    padding: 1px;
    background-color: #323442;
  }
  &__card {
    width: 100%;
    height: 100%;
    position: relative;
    &--black {
      background-color: #191a23;
    }
    &--orange {
      background-color: #2f2402;
    }
    &--red {
      background-color: #310512;
    }
    &--green {
      background-color: #032c1a;
    }
    &--blue {
      background-color: #032b3c;
    }
  }
  &__title {
    padding: 5% 0;
    font-size: 11px;
    text-align: center;
    user-select: none;
    &--orangeGray {
      background-color: #734225;
    }
    &--blueLight {
      background-color: #157fd9;
    }
    &--yellow {
      background-color: #ce960e;
    }
    &--red {
      background-color: #59061f;
    }
    &--blue {
      background-color: #024686;
    }
    &--green {
      background-color: #0d944d;
    }
    &--violet {
      background-color: #4917bc;
    }
    &--orange {
      background-color: #8e3007;
    }
  }
  &__icons {
    display: flex;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &__icon {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    svg {
      fill: #42434b;
    }
  }
  &__img {
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    svg {
      width: 32px;
      height: 32px;
    }
    &--big {
      max-width: 45px;
      max-height: 45px;
      top: 50%;
      svg {
        width: 45px;
        height: 45px;
      }
    }
  }
  &__name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    // transform: translate(-50%,0);
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    &--small {
      font-size: 8px;
    }
  }
  &__nameBig {
    font-size: 9px;
    text-transform: uppercase;
    color: #42434b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;
  }
  &__circle {
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 100%;
    &--1 {
      background-color: #1376d3;
      top: 15px;
      left: 15px;
    }
    &--2 {
      background-color: #960f38;
      top: 15px;
      right: 15px;
    }
    &--3 {
      background-color: #c09512;
      bottom: 15px;
      right: 15px;
    }
    &--4 {
      background-color: #25ab71;
      bottom: 15px;
      left: 15px;
    }
  }
  &__chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 18px;
  }
  &__messages {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    overflow-y: hidden;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, #14151f, transparent);
    }
  }
  &__message {
    padding: 12px 25px;
    margin-bottom: 5px;
    background-color: #1e1f28;
  }
  &__messagesContainer {
    width: 100%;
    padding-bottom: 15px;
  }
  &__slogan {
    padding: 14px 0;
    text-align: center;
    img {
      max-width: 200px;
      max-height: 20px;
    }
  }
  &__messageHead {
    display: flex;
    font-size: 12px;
    margin-bottom: 5px;
  }
  &__time {
    margin-right: 5px;
  }
  &__messageName {
    &--blue {
      color: #1375d1;
    }
    &--red {
      color: #b81748;
    }
    &--green {
      color: #25ab71;
    }
  }
  &__text {
    color: $fontDarkColor;
  }
}