.fieldStats {
  margin-left: 50px;
  margin-top: -3px;
  font-family: $secondFont;
  font-size: 14px;
  color: $fontColor;
  &__item {
    display: inline-block;
    margin: 0 15px;
  }
  &__dark {
    margin-left: 10px;
    color: $fontDarkColor;
  }
  @media (max-width: $break_xl) {
    font-size: 10px;
    margin-left: 36px;
    &__item {
      margin: 0 12px;
    }
  }
}