.field {
  height: 100%;
  padding: 25px;
  position: relative;
  // &:after {
  //   content: '';
  //   display: block;
  //   padding-top: 100%;
  // }
  &__grid {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(13, 1fr);
    // position: absolute;
    // top: 25px;
    // bottom: 25px;
    // left: 25px;
    // right: 25px;
  }
  &__gorizontalTop {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-row: 1 / 3;
    grid-column:1 / 14;
    .field__item {
      grid-row: 1 / 3;
      &:first-child {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
      }
      &:last-child {
        grid-row: 1 / 3;
        grid-column: 12 / 14;
      }
    }
  }
  &__verticalLeft {
    display: grid;
    grid-row: 3 / 12;
    grid-column:1 / 3;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, 1fr);
    .field__item {
      grid-column: 1 / 3;
    }
    .field__title {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      line-height: 2;
    }
    .field__icons {
      writing-mode: vertical-lr;
      top: 50%;
      left: 22%;
      transform: translate(0,-50%);
    }
    .field__icon {
      margin: 3px 0;
      &:first-child {
        order: 2;
      }
      svg {
        transform: rotate(-90deg);
      }
    }
    .field__img {
      top: 50%;
      left: 58%;
    }
    .field__name {
      top: 0;
      right: 5%;
      left: auto;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
    .field__estate {
      flex-direction: column;
      top: 0;
      bottom: 0;
      left: -20px;
      right: auto;
    }
    .field__hotel {
      transform: rotate(-90deg);
      margin: 2px;
    }
  }
  &__gorizontalBottom {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-row: 12 / 14;
    grid-column:1 / 14;
    .field__item {
      grid-row: 1 / 3;
      &:first-child {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
      }
      &:last-child {
        grid-row: 1 / 3;
        grid-column: 12 / 14;
      }
    }
    .field__title {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    .field__icons {
      top: auto;
      bottom: 22%;
    }
    .field__img {
      top: auto;
      bottom: 58%;
      transform: translate(-50%,50%);
    }
    .field__name {
      top: 5%;
      bottom: auto;
      &--bottom {
        top: auto;
        bottom: 20%;
      }
    }
    .field__estate {
      top: auto;
      bottom: -20px;
    }
  }
  &__verticalRight {
    display: grid;
    grid-row: 3 / 12;
    grid-column:12 / 14;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, 1fr);
    .field__item {
      grid-column: 1 / 3;
    }
    .field__title {
      writing-mode: vertical-rl;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      line-height: 2;
    }
    .field__icons {
      writing-mode: vertical-rl;
      top: 50%;
      right: 22%;
      transform: translate(0,-50%);
    }
    .field__icon {
      margin: 3px 0;
      svg {
        transform: rotate(90deg);
      }
    }
    .field__img {
      left: auto;
      right: 58%;
      top: 50%;
      transform: translate(50%,-50%);
    }
    .field__name {
      writing-mode: vertical-rl;
      top: 0;
      right: auto;
      left: 5%;
    }
    .field__estate {
      flex-direction: column;
      top: 0;
      bottom: 0;
      left: auto;
      right: -20px;
    }
    .field__hotel {
      transform: rotate(90deg);
      margin: 2px 0;
    }
  }
  &__item {
    padding: 1px;
  }
  &__center {
    grid-row: 3 / 12;
    grid-column: 3 / 12;
    background-color: #14151f;
    position: relative;
  }
  &__container {
    width: 100%;
    height: 100%;
    padding: 1px;
    background-color: #323442;
  }
  &__card {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    &--black {
      background-color: #191a23;
    }
    &--orange {
      background-color: #2f2402;
    }
    &--red {
      background-color: #310512;
    }
    &--green {
      background-color: #032c1a;
    }
    &--blue {
      background-color: #032b3c;
    }
    &:hover {
      background-color: #073c6e;
    }
  }
  &__title {
    font-size: 11px;
    text-align: center;
    user-select: none;
    line-height: 2;
    &--orangeGray {
      background-color: #734225;
    }
    &--blueLight {
      background-color: #157fd9;
    }
    &--yellow {
      background-color: #ce960e;
    }
    &--red {
      background-color: #59061f;
    }
    &--blue {
      background-color: #024686;
    }
    &--green {
      background-color: #0d944d;
    }
    &--violet {
      background-color: #4917bc;
    }
    &--orange {
      background-color: #8e3007;
    }
  }
  &__icons {
    display: flex;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &__icon {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    svg {
      display: block;
      fill: #42434b;
    }
  }
  &__img {
    max-width: 32px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    img {
      display: block;
    }
    &--big {
      max-width: 45px;
      top: 50%;
    }
  }
  &__name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    // transform: translate(-50%,0);
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    &--small {
      font-size: 8px;
    }
  }
  &__nameBig {
    font-size: 9px;
    text-transform: uppercase;
    color: #42434b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;
  }
  &__circle {
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 100%;
    &--1 {
      background-color: #1376d3;
      top: 15px;
      left: 15px;
    }
    &--2 {
      background-color: #960f38;
      top: 15px;
      right: 15px;
    }
    &--3 {
      background-color: #c09512;
      bottom: 15px;
      right: 15px;
    }
    &--4 {
      background-color: #25ab71;
      bottom: 15px;
      left: 15px;
    }
  }
  &__chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 18px;
  }
  &__messages {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    overflow-y: hidden;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, #14151f 20%, transparent);
    }
  }
  &__message {
    padding: 12px 25px;
    margin-bottom: 5px;
    background-color: #1e1f28;
  }
  &__messagesContainer {
    width: 100%;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
  }
  &__slogan {
    padding: 14px 0;
    text-align: center;
    img {
      max-width: 200px;
      max-height: 20px;
    }
  }
  &__messageHead {
    display: flex;
    font-size: 12px;
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 3px;
    }
    &--blue {
      .field__messageName {
        color: #1375d1;
      }
      &:after {
        background-color: #1375d1;
      }
    }
    &--red {
      .field__messageName {
        color: #b81748;
      }
      &:after {
        background-color: #b81748;
      }
    }
    &--green {
      .field__messageName {
         color: #25ab71;
      }
      &:after {
        background-color: #25ab71;
      }
    }
  }
  &__time {
    margin-right: 5px;
  }
  &__messageName {
    white-space: nowrap;
  }
  &__text {
    font-family: $firstFont;
    color: $fontDarkColor;
  }
  .chat__form {
    input {
      font-size: 14px;
    }
  }
  &__estate {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
  }
  &__hotel {
    width: 11px;
    height: 11px;
    margin: 0 2px;
    flex-shrink: 0;
    fill: #157fd9;
    &--green {
      width: 14px;
      height: 14px;
      fill: #25c4b7;
    }
    svg {
      display: block;
    }
  }
  &__timerMob {
    display: none;
  }
  &__nameMob {
    display: none;
  }
  @media (max-width: $break_xl) {
    padding: 18px;
    &__img {
      max-width: 22px;
      &--big {
        max-width: 30px;
      }
      &--ht {
        max-width: 16px;
      }
      &--cristal {
        max-width: 14px;
      }
    }
    &__icon {
      width: 8px;
      height: 8px;
    }
    &__title {
      font-size: 8px;
    }
    &__name {
      font-size: 8px;
      &--small {
        font-size: 6px;
      }
    }
    &__hotel {
      width: 8px;
      height: 8px;
      &--green {
        width: 10px;
        height: 10px;
      }
    }
    &__circle {
      width: 18px;
      height: 18px;
      &--1 {
        top: 10px;
        left: 10px;
      }
      &--2 {
        top: 10px;
        right: 10px;
      }
      &--3 {
        bottom: 10px;
        right: 10px;
      }
      &--4 {
        bottom: 10px;
        left: 10px;
      }
    }
    &__nameBig {
      font-size: 7px;
    }
    &__grid {
      // top: 18px;
      // bottom: 18px;
      // left: 18px;
      // right: 18px;
    }
    &__estate {
      top: -15px;
    }
    &__verticalLeft {
      .field__estate {
        left: -16px;
      }
    }
    &__verticalRight {
      .field__estate {
        right: -15px;
      }
    }
    &__gorizontalBottom {
      .field__estate {
        bottom: -15px;
      }
    }
    &__slogan {
      img {
        max-width: 142px;
        max-height: 15px;
      }
    }
    &__messageHead {
      font-size: 9px;
      margin-bottom: 2px;
      padding-left: 10px;
      &:after {
        width: 5px;
        height: 5px;
      }
    }
    &__text {
      font-size: 9px;
    }
    &__message {
      padding: 9px 17px;
    }
    &__messagesContainer {
      padding-bottom: 8px;
    }
    &__chat {
      padding: 14px;
      .chat__form {
        input {
          padding: 0 17px;
          font-size: 11px;
        }
      }
    }
  }
  @media (max-width: $break_sm) {
    &:after {
      padding-top: 85%;
    }
    &__name {
      font-size: 5px;
      &--small {
        font-size: 3px;
      }
    }
    &__nameBig {
      font-size: 4px;
    }
    &__title {
      font-size: 5px;
      line-height: 1.3;
    }
    &__icon {
      width: 5px;
      height: 5px;
      margin: 0 1px;
      svg {
        width: 5px;
        height: 5px;
      }
    }
    &__img {
      width: 11px;
      &--big {
        width: 16px;
      }
      &--cristal {
        max-width: 9px;
      }
      &--ht {
        max-width: 8px;
      }
    }
    &__circle {
      width: 8px;
      height: 8px;
      &--1 {
        top: 5px;
        left: 5px;
      }
      &--2 {
        top: 5px;
        right: 5px;
      }
      &--3 {
        bottom: 5px;
        right: 5px;
      }
      &--4 {
        bottom: 5px;
        left: 5px;
      }
    }
    &__hotel {
      width: 5px;
      height: 5px;
      svg {
        width: 5px;
        height: 5px;
      }
    }
    &__gorizontalTop {
      .field__estate {
        top: -8px;
      }
      .field__hotel {
        margin: 0 1px;
      }
      .field__title {
      }
    }
    &__gorizontalBottom {
      .field__estate {
        bottom: -8px;
      }
      .field__hotel {
        margin: 0 1px;
      }
      .field__title {
      }
    }
    &__verticalLeft {
      .field__estate {
        left: -8px;
      }
      .field__hotel {
        margin: 1px 0;
      }
      .field__title {
        line-height: 1.3;
      }
      .field__icon {
        margin: 1px 0;
      }
    }
    &__verticalRight {
      .field__estate {
        right: -8px;
      }
      .field__hotel {
        margin: 1px 0;
      }
      .field__title {
        line-height: 1.3;
      }
      .field__icon {
        margin: 1px 0;
      }
    }
    &__grid {
      // top: 10px;
      // bottom: 10px;
      // left: 10px;
      // right: 10px;
    }
    &__messages {
      &:after {
        height: 50px;
      }
    }
    &__message {
      display: flex;
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
    }
    &__messageHead {
      margin-right: 5px;
      font-size: 8px;
      padding-left: 7px;
      &:after {
        width: 3px;
        height: 3px;
      }
    }
    &__text {
      font-size: 8px;
    }
    &__slogan {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      img {
        max-width: 80px;
        max-height: 8px;
      }
    }
    &__chat {
      padding: 10px;
    }
    .chat__form {
      display: none;
    }
    &__timerMob {
      width: 20px;
      height: 20px;
      margin-right: auto;
      display: block;
      z-index: 3;
      background-color: #282b46;
      border-radius: 100%;
      position: relative;
      canvas {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 7px;
      }
    }
    &__nameMob {
      margin-left: auto;
      display: block !important;
      color: #e74063;
      font-size: 7px;
    }
  }
}