.head {
  background-color: $backColor;
  &__line {
    height: 37px;
    background-color: #1f1f29;
  }
  &__row {
    display: flex;
    padding-bottom: 25px;
  }
  &__rowInner {
    display: flex;
  }
  &__col {
    &--content {
      width: 270px;
      flex-shrink: 0;
      padding-top: 12px;
    }
    &--slogan {
      flex-grow: 1;
    }
    &--alignCenter {
      display: flex;
      align-items: center;
    }
  }
  &__item {
    width: 50%;
  }
  &__num {
    font-size: 20px;
    margin-bottom: 10px;
    &--1 {
      color: #19cabf;
    }

    &--2 {
      color: #e38516;
    }
  }
  &__text {
    font-size: 13px;
    text-transform: uppercase;
    color: $fontColor;
  }
  &__price {
    font-size: 20px;
    color: #1c96e6;
    margin-bottom: 10px;
  }
  &__btn {
    display: block;
    padding: 20px 10px;
    font-size: 16px;
    background-color: $secondColor;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    &:hover {
      background-color: $secondLightColor;
    }
  }
  &__slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 20px 0 30px;
    border-radius: 0 0 25px 25px;
    // background-color: $bodyColor;
    img {
      min-width: 100px;
    }
  }
  &__back {
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-size: 13px;
    color: $fontColor;
    text-transform: uppercase;
    &:before {
      content: '';
      display: block;
      width: 7px;
      height: 12px;
      margin-right: 10px;
      white-space: nowrap;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.004 492.004' style='enable-background:new 0 0 492.004 492.004;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 100% 100%;
      transform: rotate(180deg);
    }
  }
  @media (max-width: $break_xl) {
    &__row {
      padding-bottom: 16px;
    }
    &__line {
      height: 23px;
    }
    &__col {
      &--content {
        width: 200px;
      }
    }
    &__num {
      font-size: 15px;
    }
    &__text {
      font-size: 10px;
    }
    &__price {
      font-size: 15px;
    }
    &__btn {
      padding: 16px 10px;
      font-size: 12px;
    }
  }
  @media (max-width: $break_sm) {
    &__item {
      display: flex;
      padding-left: 20px;
    }
    &__num {
      font-size: 12px;
      margin-bottom: 0;
      margin-right: 5px;
    }
    &__text {
      margin-top: 3px;
      font-size: 8px;
    }
    &__price {
      font-size: 12px;
      white-space: nowrap;
      margin-bottom: 0;
      margin-right: 5px;
    }
    &__btn {
      width: 100%;
      max-width: 120px;
      margin-left: 20px;
    }
  }
}