.menu {
	margin: 0 20px;
	font-family: $secondFont;
	font-size: 16px;
	&__nav {

	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -60px;
		li {
			margin-left: 60px;
		}
		a {
			display: block;
			padding: 10px 0;
			color: $fontColor;
			position: relative;
			white-space: nowrap;
			&:after {
				content: '';
				display: block;
				width: 110%;
				height: 1px;
				background-color: $fontColor;
				position: absolute;
				left: 50%;
				transform: translate(-50%,0);
				bottom: -20px;
				opacity: 0;
				transition: 0.3s;
			}
			&:hover {
				&:after {
					bottom: 0;
					opacity: 1;
				}
			}
		}
	}
	&__btn {

	}
	&__close {

	}
	&__over {

	}
	@media (max-width: $break_xl) {
		font-size: 12px;
		&__list {
			margin-left: -40px;
			li {
				margin-left: 40px;	
			}
			a {
				
			}
		}
	}
	@media (max-width: $break_md) {
		&__nav {
			position: fixed;
			left: -1100px;
		}
		&.open {
			&_nav {
				left: 0;
			}
		}
	}
}