.modal {
	position: relative;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 13;
	font-family: $secondFont;
	color: $fontColor;
	overflow-y: auto;
	&__container {
		width: 100%;
		max-width: 500px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		position: relative;
	}
	&__head {
		padding: 30px 60px 30px 35px;
		background-color: $backColor;
	}
	&__body {
		padding: 22px 35px;
		background-color: $bodyColor;
	}
	&__row {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 13px;
		}
		&--center {
			text-align: center;
		}
		&--mb10 {
			margin-bottom: 10px;
		}
	}
	&__text {
		font-size: 16px;
		color: $fontDarkColor;
		p {
			margin-bottom: 15px;
		}
		a {
			margin: 0 3px;
			color: #1c96e6;
		}
	}
	&__hint {
		color: $fontDarkColor;
		margin-bottom: 10px;
	}
	&__input {
		height: 48px;
		&--white {
			input {
				color: $fontColor;
			}
		}
	}
	.btn {
		display: inline-block;
		padding-left: 60px;
		padding-right: 60px;
	}
	&__close {
		width: 20px;
		height: 20px;
		position: relative;
		cursor: pointer;
		position: absolute;
		top: 35px;
		right: 35px;
		&:after,
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			top: 50%;
		}
		&:after {
			transform: translate(0, -50%) rotate(45deg);
		}
		&:before {
			transform: translate(0, -50%) rotate(-45deg);
		}
	}
	@media (max-width: $break_xl) {
		&__container {
			max-width: 377px;
		}
		&__head {
			padding: 20px 40px 20px 26px;
		}
		&__body {
			padding: 16px 26px;
		}
		&__text {
			font-size: 12px;
		}
		&__hint {
			font-size: 10px;
		}
		&__input {
			height: 37px;
		}
		&__row {
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 10px;
			}
			&--mb10 {
				margin-bottom: 5px;
			}
		}
		&__close {
			width: 16px;
			height: 16px;
			top: 22px;
			right: 20px;
		}
	}
}