.orientation {
  display: none;
  padding: 20px;
  font-family: $secondFont;
  font-size: 19px;
  color: #a4a4a7;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &__img {
    margin-bottom: 50px;
  }
  &__text {
  }
  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}