.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 11px;
  &__users {
    
  }
  &__user {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 16px 32px;
    margin-bottom: 8px;
    background-color: #191a24;
    border: 1px solid #323652;
  }
  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    margin-right: 28px;
    border-radius: 100%;
    img {
      width: 66px;
      height: 66px;
      border-radius: 100%;
      overflow: hidden;
      object-fit: cover;
    }
    &--blue {
      background-color: #1376d3;
    }
    &--red {
      background-color: #960f38;
    }
    &--yellow {
      background-color: #c09512;
    }
    &--green {
      background-color: #25ab71;
    }
  }
  &__content {
    
  }
  &__name {
    
  }
  &__price {
    font-size: 24px;
  }
  &__progress {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #191a24;
    border: 1px solid #323652;
  }
  &__btns {
    .btn {
      font-size: 16px;
      &--gray {
        &:hover {
          background-color: #960f38;
        }
      }
    }  
  }
  &__messages {
    height: 240px;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100px;
      background: linear-gradient(to top, #191a23 10%, transparent);
    }
  }
  &__container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 12px;
    left: 16px;
    right: 16px;
  }
  &__message {
    
  }
  &__time {
    margin-right: 5px;
  }
  &__name {
    margin-right: 3px;
    &--red {
      color: #b81748;
    }
    &--blue {
      color: #1375d1;
    }
    &--green {
      color: #25ab71;
    }
  }
  &__text {

  }
}