.win {
  padding: 140px 20px 20px;
  background-image: url(../img/win.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  &--loss {
    background-image: url(../img/loss.png);
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 108px;
    height: 108px;
    background-color: $secondColor;
    border-radius: 100%;
    margin-bottom: 20px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      object-fit: cover;
    }
  }
  &__title {
    display: block;
    font-size: 35px;
    text-transform: uppercase;
    // background: linear-gradient(45deg, #d6b274 33%, #fee5a5 66%, #a07f48);
    // background-clip: text;
    // color: transparent;
    color: #fee5a5;
    margin-bottom: 15px;
    &--loss {
      letter-spacing: 0.2em;
    }
  }
  &__name {
    font-size: 26px;
  }
  &__price {
    margin-bottom: 15px;
    font-size: 16px;
  }
  &__rate {
    font-size: 17px;
    color: #ffc02a;
  }
  .btn {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
  }
  @media (max-width: $break_xl) {
    padding: 105px 20px 20px;
    &__img {
      width: 90px;
      height: 90px;
      margin-bottom: 10px;
      img {
        width: 84px;
        height: 84px;
      }
    }
    &__title {
      font-size: 25px;
    }
    &__name {
      font-size: 22px;
    }
    &__price {
      font-size: 15px;
      margin-bottom: 10px;
    }
    &__rate {
      font-size: 14px;
    }
    .btn {
      margin-top: 30px;
      font-size: 11px;
    }
  }
  @media (max-width: $break_sm) {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px 0;
    &__title {
      margin-bottom: 10px;
      font-size: 14px;
    }
    &__img {
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
      img {
        width: 46px;
        height: 46px;
      }
    }
    &__name {
      font-size: 10px;
    }
    &__price {
      margin-bottom: 5px;
      font-size: 8px;
    }
    &__rate {
      font-size: 7px;
    }
    .btn {
      font-size: 7px;
      padding: 10px 30px;
      margin-top: 15px;
    }
  }
}